body {
    font-family: Arial, sans-serif;
    background-image: url('https://wallpaperbat.com/img/229501-javascript-ktech-gmbh.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  header {
    background-color: #4b0055;
    color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(90, 90, 102, 0.685)
  }

  nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  nav a {
      color: white;
  }

  main {
    max-width: 600px;
    margin: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(137, 23, 155)
  }

  .lesson {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
  }

  .lesson-content {
    display: none;
    margin-top: 1rem;
  }